
@prefixCls: doraa-file-manager;
@primaryColor: #1890ff;
@nameTop: 3px;
@nameRadius: 3px;

.@{prefixCls} {

  .hidden {
    visibility: hidden;
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 文本显示的行数 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* 超出部分显示省略号 */
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 36px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &-content {
      padding: 16px;
      border-radius: 5px;
    }

    &-name {
      .ellipsis();
      padding: 2px 8px;
      text-align: center;
      font-size: 12px;
      border-radius: @nameRadius;
      margin-top: @nameTop;
    }

    &-name-input {
      position: relative;
      justify-content: center;
      display: flex;
      width: 100%;
      > textarea {
        margin-top: @nameTop;
        position: absolute;
        resize: none;
        font-size: 12px;
        border: none;
        text-align: center;
        ::selection {
          color: #fff;
          background: #007bff; /* 高亮背景色 */
        }
        ::-webkit-selection {
          color: #fff;
          background: #007bff; /* 高亮背景色 */
        }
      }
    }

    &.selected &-content {
      background: #f0f0f0;
    }

    &.selected &-name {
      color: white;
      background: @primaryColor;
    }
  }
}